.nav-wrapper,
h1 {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 182, 219);
  background-color: rgb(142, 255, 255);

}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
  margin: 0.25rem 0.5rem;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SVG PROPS, bg color on nav-wrapper HAS to match bg color on SVG */
svg {
  height: 30px;
  width: 30px;
  color: rgb(27, 27, 27);
  margin: 0.25rem 0.5rem;
  background-color: rgb(0, 182, 219);
  background-color: rgb(142, 255, 255);

  transition: color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

/* HOVER FILLS */
svg:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* POST-ROTATE SETTINGS */
.rotate {
  transform: rotate(45deg);
}
