.no-active-email {
  text-align: center;
  margin-bottom: 3rem;
}

.body-wrapper2 {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.wrap {
  margin: 0.2rem;
  display: flex;
  padding: 0.5rem;
  border: 1px solid rgba(59, 59, 59, 0.201);
  flex-wrap: wrap;
}

.list-data {
  margin-left: .2rem;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
}
.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email-row {
  width: 50%;
  max-width: 800px;
  margin: 1rem;
}

.form-wrapper2 {
  overflow-y: scroll;
  background-color: rgb(222, 222, 222);
  width: 80%;
  height: 488px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.list-container1 {
  padding: 1rem 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}
.checkbox {
  display: block;
  margin: 0.75rem auto 0 auto;
  padding: 0;
  border: none;
  min-width: auto;
  width: 15px;
  height: 15px;
  border: 2px solid #3ba9ff;
  border-radius: 6px;
  background: white;
  transition: all 0.15s ease;
  cursor: pointer;
}

.checkbox:hover {
  box-shadow: 0 0 0 3px rgba(55, 55, 55, 0.548);
}

.delete-button:hover {
  background-color: rgb(239, 68, 68);
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

ul li {
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.02rem;
  text-transform: uppercase;
}

.delete-slot {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
