.nav-wrapper{
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.nav-wrapper,
h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 248, 248);
}

h1 {
  padding: .5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgb(17, 17, 17);
  margin: 0.25rem 0.5rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  letter-spacing: -.1rem;
}
