* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

.body-wrapper {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(93, 92, 92);
  margin: 0 auto;
}
.card-wrapper {
  min-width: 100%;
}
.card-header {
  /* margin-top: 4rem; */
  min-width: 75%;
  background-color: rgb(79, 225, 230);

  margin-bottom: 0.25rem;
}

.form-wrapper {
  width: 75%;
  background-color: rgb(222, 222, 222);
  /* height: 20rem; */
}

h2 {
  background-color: rgb(142, 255, 255);

  color: rgb(19, 19, 19);
  font-weight: 300;
  padding: 0.25rem;
  margin: 0.25rem;
  margin-right: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
  color: rgb(250, 250, 250);
  font-weight: 300;
}
.banner-create {
  min-width: 100%;
  background-color: rgb(183, 183, 183);
  text-align: center;
  margin-top: 3rem;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;

}
@media (max-width: 800px) {
  .label-flex,label,input {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow:hidden
    /* margin: 0 auto; */
  }

}
form {
  margin: 0 auto;
  width: 50%;
  
}
input {
  min-width: 50%;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  margin-bottom: .25rem;

}

.label-flex {
  display: flex;
  margin: 0.5rem;

}
label {
  text-align: right;
  width: 100%;
  margin-right: 3rem;
  margin-bottom: .25rem;
  border-bottom: 2px solid rgba(88, 88, 88, 0.194);
}

h4 {
  text-align: center;
  margin-top: 3rem;
}

.form-button {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

}
button {
  color: rgb(49, 49, 49);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(79, 225, 230, 1);
  transition: background-color 0.1s ease, color 0.1s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(55, 55, 55);
  color: white;
}
