* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

.body-wrapper {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
.card-wrapper {
  min-width: 100%;
}

.card-header {
  min-width: 80%;
  background-color: rgb(79, 225, 230);
  margin-bottom: 0.25rem;
}

.card-header a {
 display: inline-block;
  width: auto;
  color: rgb(49, 49, 49);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  background-color: rgb(79, 225, 230, 1);
  cursor: pointer;
  text-decoration: none;
}
.auth-nav a {
  display: inline-block;
  width: auto;
  color: rgb(49, 49, 49);
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
  font-size: 1rem;
  /* background-color: rgb(79, 225, 230, 1); */
  cursor: pointer;
  text-decoration: none;
}

.auth-nav a:hover {
  color: rgb(17, 17, 133);
  color: rgb(65, 119, 119);

}

.form-wrapper {
  width: 80%;
  background-color: rgb(222, 222, 222);
  /* background-color: rgb(124, 36, 36); */

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

h2 {
  background-color: rgb(142, 255, 255);

  color: rgb(19, 19, 19);
  font-weight: 300;
  padding: 0.25rem;
  margin: 0.25rem;
  margin-right: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
  color: rgb(250, 250, 250);
  font-weight: 300;
}
.banner-create {
  max-width: 50%;
  margin: 0 auto;
  background-color: rgb(183, 183, 183);
  /* background-color: rgb(246, 153, 24); */

  text-align: center;
  margin-top: 2rem;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

input {
  font-size: 0.75rem;
}
label {
  text-align: right;
  width: 100%;
  margin-right: 3rem;
  margin-bottom: 0.25rem;
  border-bottom: 2px solid rgba(88, 88, 88, 0.194);
}
@media (max-width: 800px) {
  .label-flex,
  label,
  input {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: none;
  }

  h4 {
    margin-top: 0;
  }

  label {
    margin: 0;
    padding-bottom: 0.25rem;
    text-align: center;
  }

  input {
    max-width: 50%;
  }
}
form {
  margin: 0 auto;
  min-width: 50%;
}
input {
  min-width: 50%;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding: 0.5rem 0 0.5rem 0.25rem;
}

.label-flex {
  display: flex;
  margin: 0.5rem;
}

h4 {
  text-align: center;
  margin-top: 3rem;
}

.form-button {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

button {
  color: rgb(49, 49, 49);
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(79, 225, 230, 1);
  transition: background-color 0.1s ease, color 0.1s ease;
  cursor: pointer;
  text-decoration: none;
}
button:hover {
  color: rgb(248, 248, 248);
}

a:hover {
  color: rgb(248, 248, 248);
}

.app-nav {
  color: rgb(49, 49, 49);
  font-size: 1rem;
  border: none;
  background-color: rgb(79, 225, 230, 1);
  transition: background-color 0.1s ease, color 0.1s ease;
  cursor: pointer;
}

.app-nav:hover {
  color: rgb(248, 248, 248);

}

.errors {
  text-align: right;
  color: rgb(239, 68, 68);
  font-size: 0.75rem;
  margin-bottom: 2rem;
}
.card-header a.active-tab {
  background-color: rgba(91, 255, 15, 0.865);
}
