* {
  margin: 0;
  padding: 0;
}

.maincard-wrapper {
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(120, 120, 120);
}

.maincard-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(142, 255, 255);
  
}

.form-wrapper {
    height: 50%;
    width: 80%;
    background-color: rgb(207, 207, 207);
}

h2 {
    background-color: rgb(69, 69, 69);
  color: aliceblue;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  color: rgb(49, 49, 49);
  padding: 0.2rem 1rem;
  background-color: azure;
  border: none;
  cursor: pointer;
  transition: background-color 0.175s ease, color 0.175s ease;
}

input {
  background-color: azure;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

button:hover {
  background-color: rgb(5, 36, 174);
  color: white;
}
